
.App-link {
  color: #61dafb;
}
*, *:before, *:after{
  box-sizing: inherit;
}

.container {
  width: 100%;
  text-align: center;
}

.form{
  margin: 5px;
  padding: 5px;
}

html {
  box-sizing:
  border-box;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4BrdbiSFlik14dmb5/time-lapse-moving-cloud-on-blue-sky-background_4s9ilq19e__F0000.png");
}

.nav-extended{
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4BrdbiSFlik14dmb5/time-lapse-moving-cloud-on-blue-sky-background_4s9ilq19e__F0000.png");
}